<!DOCTYPE html>
<html>

  <head>
    <title>Laser Eyes Meme Maker /w AI - Upload a selfie and get your lasers automatically placed by AI.</title>
    <meta name="description" content="Upload a selfie or a foto containing a
                                      face, our sofisticated AI algorithm will recognice it and add a
                                      random laser on your eyes. Send multiple times for multiple
                                      colors. Laser Eyes Meme Maker /w AI is easy and fast.">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  </head>
  <body>
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative z-0 bg-gray-50 overflow-hidden" id="app">

      <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full" aria-hidden="true">
        <div class="relative h-full max-w-7xl mx-auto">
          <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
          </svg>
          <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
            <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
          </svg>
        </div>
      </div>

      <main class="mt-16 mx-auto max-w-7 xl px-4 sm:mt-24 relative z-10">

        <div class="text-center">
          <h1 class="text-4xl tracking-tight font-extrabold sm:text-5xl md:text-6xl text-indigo-600">
            <span class="block xl:inline bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent">
              Laser Eyes
            </span>
            <span class="block xl:inline bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500">
              Meme Maker /w AI
            </span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Upload a selfie or a foto containing a face, our sofisticated AI
          algorithm will recognice it and add a random laser on your eyes.
          Send multiple times for multiple colors. Laser Eyes Meme Maker /w
          AI is easy and fast.
          </p>
          <div class="max-w-7xl pt-5 mx-auto sm:px-6 lg:px-8">
            <!-- This example requires Tailwind CSS v2.0+ -->
            {% if errors %}
            <div class="flex justify-center m-4">
              <div class="rounded-md bg-red-50 p-4">
                <div class="flex">
                  <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/x-circle -->
                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <div class="ml-3 text-left">
                    <h3 class="text-sm font-medium text-red-800">
                      Some error occurred:
                    </h3>
                    <div class="mt-2 text-sm text-red-700">
                      <ul class="list-disc pl-5 space-y-1">
                        <li>
                          Probably our AI was unable to detect a face in the image.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            <form class="space-y-8 divide-y divide-gray-200" action="/" method="POST" enctype="multipart/form-data">
              <div class="space-y-8 divide-y divide-gray-200">
                <div>
                  <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md bg-gray-100" @dragover="dragover" @dragleave="dragleave" @drop="drop">
                    <div class="space-y-1 text-center">
                      <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <div class="flex text-sm text-gray-600">
                        <label for="foto" class="relative cursor-pointer bg-white
                                                               rounded-md font-medium text-indigo-600
                                                               hover:text-indigo-500 focus-within:outline-none
                                                               focus-within:ring-2 focus-within:ring-offset-2
                                                               focus-within:ring-indigo-500 px-2 mx-1 bg-gray-100">
                          <span>Upload a foto</span>
                          <input type="file" id="foto" name="foto"
                          class="sr-only" required @change="onChange" ref="file"
                          accept="image/*;capture=camera">
                        </label>
                        <p class="pl-1">or drag and drop</p>
                      </div>
                      <p class="text-xs text-gray-500">
                      PNG, JPG, GIF up to 10MB
                      </p>
                      <ul class="mt-4" v-if="this.filelist.length" v-cloak>
                        <li class="text-sm p-1" v-for="file in filelist">
                          <div class="flex items-start">
                            <div class="flex-shrink-0">
                              <!-- Heroicon name: outline/check-circle -->
                              <svg class="h-6 w-6 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                            </div>
                            <div class="ml-3 w-0 flex-1 pt-0.5">
                              <p class="text-sm font-medium text-gray-900">
                              {% raw %}
                              {{ file.name }}
                              {% endraw %}
                              </p>
                            </div>
                            <div class="ml-4 flex-shrink-0 flex">
                              <button class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button" @click="remove(filelist.indexOf(file))" title="Remove file">
                                <span class="sr-only">Close</span>
                                <!-- Heroicon name: solid/x -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                              </button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="pt-5">
                  <div class="flex justify-center">
                    <div class="rounded-md shadow">
                      <button type="submit" class="w-full flex items-center
                                                   justify-center px-8 py-3 border
                                                   border-transparent text-base font-medium
                                                   rounded-md text-white bg-gradient-to-r
                                                   from-purple-500 to-indigo-600
                                                   hover:bg-indigo-700 md:py-4 md:text-lg
                                                   md:px-10">
                        ✨  Laserize Me  ✨
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
      <div class="bg-indigo-10 relative z-10 mt-10">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8
                     lg:flex lg:items-center lg:justify-between text-center">
          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="bg-green-50 border-l-4 border-green-400 p-4 space-y-2">
            <div class="flex flex-col sm:flex-row">
              <div class="ml-3 mb-4 sm:mb-0 flex justify-center">
                <span class="font-bold text-green-900 inline-block align-middle
                              self-center mr-2">₿</span>
                <p class="inline-block align-middle self-center">
                <a class="text-sm text-green-700 hover:text-green-900 whitespace-nowrap" href="bitcoin:3NHERDFmUN8Af4vkNHWbhw9WDMEVNd61VW" target="_blank">
                  3NHERDFmUN8Af4vkNHWbhw9WDMEVNd61VW <span aria-hidden="true">&rarr;</span>
                </a>
                </p>
              </div>
              <div class="ml-20 whitespace-nowrap">
                <button class="py-2 px-4 bg-green-500 text-white font-semibold
                                 rounded-lg shadow-md hover:bg-green-700
                                 focus:outline-none focus:ring-2
                                 focus:ring-green-400 focus:ring-opacity-75"
                        @click="clipboard('btc')">
                  Copy
                </button>
                <span class="opacity-0 copyAlertbtc ml-2 text-green-900">Copied!</span>
              </div>
            </div>
            <div class="flex flex-col sm:flex-row">
              <div class="ml-3 mb-4 sm:mb-0 flex justify-center">
                <span class="font-bold text-green-900 inline-block align-middle
                              self-center mr-2">ADA</span>
                <p class="inline-block align-middle self-center">
                <a class="text-sm text-green-700 hover:text-green-900 whitespace-nowrap" href="web+cardano:addr1qxd7q5dgsca2m7qwfljcr49tkdjze0ew3n362wzlvl6yf4znm626908z26rmyr2aag5y9zqk3yj5ddku6hznvdc99zjs9vwla6" target="_blank">
                  Yoroi Link 1 ADA <span class="line-through">or more. </span><span aria-hidden="true">&rarr;</span>
                </a>
                </p>
              </div>
              <div class="ml-20 whitespace-nowrap">
                <button class="py-2 px-4 bg-green-500 text-white font-semibold
                                 rounded-lg shadow-md hover:bg-green-700
                                 focus:outline-none focus:ring-2
                                 focus:ring-green-400 focus:ring-opacity-75"
                        @click="clipboard('cardano')">
                  Copy
                </button>
                <span class="opacity-0 copyAlertcardano ml-2 text-green-900">Copied!</span>
              </div>
            </div>
          </div>
          <div class="p-4">
            Or
          </div>
          <div class="flex justify-center">
            <a href="https://twitter.com/intent/tweet?button_hashtag=laserEyesAI&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-text="Get you #lasereyes automatically placed with AI" data-url="https://lasereyes.everlyrusher.com/" data-show-count="false">Tweet #laserEyesAI</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>
  </body>

  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        filelist: [], // Store our uploaded files
        bitcoinAddress: "3NHERDFmUN8Af4vkNHWbhw9WDMEVNd61VW",
        cardanoAddress: "addr1qxd7q5dgsca2m7qwfljcr49tkdjze0ew3n362wzlvl6yf4znm626908z26rmyr2aag5y9zqk3yj5ddku6hznvdc99zjs9vwla6"
      },
      methods: {
        onChange() {
          this.filelist = [...this.$refs.file.files];
        },
        remove(i) {
          this.filelist.splice(i, 1);
        },
        dragover(event) {
          event.preventDefault();
          // Add some visual fluff to show the user can drop its files
          if (!event.currentTarget.classList.contains('bg-green-300')) {
            event.currentTarget.classList.remove('bg-gray-100');
            event.currentTarget.classList.add('bg-green-300');
          }
        },
        dragleave(event) {
          // Clean up
          event.currentTarget.classList.add('bg-gray-100');
          event.currentTarget.classList.remove('bg-green-300');
        },
        drop(event) {
          event.preventDefault();
          this.$refs.file.files = event.dataTransfer.files;
          this.onChange(); // Trigger the onChange event manually
          // Clean up
          event.currentTarget.classList.add('bg-gray-100');
          event.currentTarget.classList.remove('bg-green-300');
        },
        clipboard(type) {
          if (!navigator.clipboard) {
            // Clipboard API not available
            return;
          }
          try {
            let address;
            if (type == 'btc') {
              address = this.bitcoinAddress
            } else {
              address = this.cardanoAddress
            }
            navigator.clipboard.writeText(address);
            const copyDiv = document.querySelector('.copyAlert'+type)
            if(copyDiv) {
              copyDiv.classList.add('animate');
              copyDiv.addEventListener('animationend', () => {
                copyDiv.classList.remove('animate')
              });
            }
          } catch (err) {
            console.error('Failed to copy!', err);
          }
        }
      }
    });
  </script>
</html>
