<!DOCTYPE html>
<html>

  <head>
    <title>Laser Eyes Generator (₿)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  </head>
  <body>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="relative z-0 bg-gray-50 overflow-hidden" id="app">

      <div class="hidden sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full" aria-hidden="true">
        <div class="relative h-full max-w-7xl mx-auto">
          <svg class="absolute right-full transform translate-y-1/4 translate-x-1/4 lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
          </svg>
          <svg class="absolute left-full transform -translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
            <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
          </svg>
        </div>
      </div>

      <main class="mt-16 mx-auto max-w-7 xl px-4 sm:mt-24 relative z-10">

        <div class="text-center">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
            <span class="block xl:inline">Get your own lasers</span></span>
          <span class="block text-indigo-600 xl:inline">Now</span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Upload you foto our sofisticated AI algorith will add a random laser on your eyes.
          </p>
          <!--<div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">-->
          <div class="max-w-7xl pt-5 mx-auto sm:px-6 lg:px-8">
            <form class="space-y-8 divide-y divide-gray-200" action="/" method="POST" enctype="multipart/form-data">
              <div class="space-y-8 divide-y divide-gray-200">
                <div>
                  <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md bg-gray-100" @dragover="dragover" @dragleave="dragleave" @drop="drop">
                    <div class="space-y-1 text-center">
                      <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <div class="flex text-sm text-gray-600">
                        <label for="foto" class="relative cursor-pointer bg-white
                                    rounded-md font-medium text-indigo-600
                                    hover:text-indigo-500 focus-within:outline-none
                                    focus-within:ring-2 focus-within:ring-offset-2
                                    focus-within:ring-indigo-500 px-2 mx-1 bg-gray-100">
                          <span>Upload a foto</span>
                          <!--<input id="file-upload" name="file-upload" type="file" >-->
                          <input type="file" id="foto" name="foto" class="sr-only" required @change="onChange" ref="file">
                        </label>
                        <p class="pl-1">or drag and drop</p>
                      </div>
                      <p class="text-xs text-gray-500">
                      PNG, JPG, GIF up to 10MB
                      </p>
                      <ul class="mt-4" v-if="this.filelist.length" v-cloak>
                        <li class="text-sm p-1" v-for="file in filelist">
                          <div class="flex items-start">
                            <div class="flex-shrink-0">
                              <!-- Heroicon name: outline/check-circle -->
                              <svg class="h-6 w-6 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                              </svg>
                            </div>
                            <div class="ml-3 w-0 flex-1 pt-0.5">
                              <p class="text-sm font-medium text-gray-900">
                              {% raw %}
                              {{ file.name }}
                              {% endraw %}
                              </p>
                            </div>
                            <div class="ml-4 flex-shrink-0 flex">
                              <button class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="button" @click="remove(filelist.indexOf(file))" title="Remove file">
                                <span class="sr-only">Close</span>
                                <!-- Heroicon name: solid/x -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                </svg>
                              </button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="pt-5">
                  <div class="flex justify-center">
                    <div class="rounded-md shadow">
                      <button type="submit" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                        ✨  Laserize Me  ✨
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          </div>
      </main>
      <div class="bg-indigo-10 relative z-10 mt-10">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="bg-green-50 border-l-4 border-green-400 p-4">
            <div class="flex">
              <div class="flex flex-shrink-0 mx-3">
                <span class="font-bold text-green-900 inline-block align-middle self-center">₿</span>
                <!-- Heroicon name: solid/information-circle -->
                <!--<svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
                <!--<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />-->
                <!--</svg>-->
              </div>
              <div class="ml-3 flex">
                <p class="inline-block align-middle self-center">
                    <a class="text-sm text-green-700 hover:text-green-900" href="bitcoin:3NHERDFmUN8Af4vkNHWbhw9WDMEVNd61VW">
                        3NHERDFmUN8Af4vkNHWbhw9WDMEVNd61VW <span aria-hidden="true">&rarr;</span>
                    </a>
                </p>
              </div>
              <div class="ml-20">
                <button class="py-2 px-4 bg-green-500 text-white font-semibold
                               rounded-lg shadow-md hover:bg-green-700 focus:outline-none
                               focus:ring-2 focus:ring-green-400 focus:ring-opacity-75"
                        @click="clipboard">
                  Copy
                </button>
                <span class="opacity-0 copyAlert ml-2 text-green-900">Copied!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>

  </body>

  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: {
        filelist: [], // Store our uploaded files
        bitcoinAddress: "3NHERDFmUN8Af4vkNHWbhw9WDMEVNd61VW"
      },
      methods: {
        onChange() {
          this.filelist = [...this.$refs.file.files];
        },
        remove(i) {
          this.filelist.splice(i, 1);
        },
        dragover(event) {
          event.preventDefault();
          // Add some visual fluff to show the user can drop its files
          if (!event.currentTarget.classList.contains('bg-green-300')) {
            event.currentTarget.classList.remove('bg-gray-100');
            event.currentTarget.classList.add('bg-green-300');
          }
        },
        dragleave(event) {
          // Clean up
          event.currentTarget.classList.add('bg-gray-100');
          event.currentTarget.classList.remove('bg-green-300');
        },
        drop(event) {
          event.preventDefault();
          this.$refs.file.files = event.dataTransfer.files;
          this.onChange(); // Trigger the onChange event manually
          // Clean up
          event.currentTarget.classList.add('bg-gray-100');
          event.currentTarget.classList.remove('bg-green-300');
        },
        clipboard(event) {
          if (!navigator.clipboard) {
            // Clipboard API not available
            return;
          }
          try {
            navigator.clipboard.writeText(this.bitcoinAddress);
            const copyDiv = document.querySelector('.copyAlert')
            if(copyDiv) {
              copyDiv.classList.add('animate');
              copyDiv.addEventListener('animationend', () => {
                copyDiv.classList.remove('animate')
              });
            }
          } catch (err) {
            console.error('Failed to copy!', err);
          }
        }
      }
    });
  </script>
</html>
